//viewports
$tablet-width: 767px;
$desktop-width: 1220px;
$mobile-width-only: 767px;

//colors

$black: #121212;
$wight: #ffffff;
$grey: #696969;
$greylight: #EDF1FF;
$blue: #4D77FF;


//fonts

$font-family--manrope: "manrope", "Arial", sans-serif;

//rtina

$retina-dpi-2: 2dppx;
